{% extends 'layout.html' %}

{% block body %}

    <h1>Dashboard <small> welcome {{session.username}}</h1>
        <a class = "btn btn-primary" href="/add_patient_data">
            Add Patient Data
        </a>
    <hr>

    <table class="table table-striped">
        <tr>
            <th>
                ID 
            </th>
            <th>
                Patient 
            </th>
            <th>
                Doctor
            </th>
            <th>
                DATE
            </th>
            <th></th>
            <th></th>
            {% for article in articles%}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.patient}}</td>
                <td>{{article.doctor}}</td>
                <td>{{article.diagnosis}}</td>
                <td>
                    <a href="edit_patient_data/{{article.id}}" class="btn btn-primary pull-right">EDIT</a>
                </td>
                <td>
                        <a href="#" class="btn btn-danger ">Delete</a>
                    </td>
            </tr> 
            {% endfor %}
        </tr>

    </table>
{% endblock %}